[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/thread-pool"]
	path = libs/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "libs/argparse"]
	path = libs/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "libs/thread-safe-collections"]
	path = libs/thread-safe-collections
	url = https://github.com/jakkes/thread-safe-collections.git
[submodule "libs/cppzmq"]
	path = libs/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/tensorboard_logger"]
	path = libs/tensorboard_logger
	url = https://github.com/RustingSword/tensorboard_logger.git
